@use "variables" as *;

.Faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 30px;
  .Item {
    background-color: $grey_e;
    .ItemTitle {
      color: black;
      cursor: pointer;
      font-size: $fontSize3;
    }
    .ItemBody {
      background-color: white;
      color: black;
      font-size: $fontSize2;
    }
    .Show {
      padding: 20px;
      height: 220px;
    }
  }
}
