$screenSep: 600px;
$logoSize: 32px;

$transition: 0.4s;
$longInterval: 1s;

$primary1: #27f;
$primary2: #25f;
$onPrimary: #fff;
$purple_1: #8722b3;
$grey_3: #333;
$grey_6: #666;
$grey_9: #999;
$grey_e: #eee;

$smallSpace: 4px;
$mediumSpace: 8px;
$bigSpace: 12px;
$fontSize1: 12pt;
$fontSize2: 14pt;
$fontSize3: 16pt;
$fontSize4: 30pt;
