@use "variables" as *;
.Header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $primary1;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 $smallSpace black;
  padding: $smallSpace;
  z-index: 100;
  .SelectLang {
    padding: $smallSpace;
    border-radius: $smallSpace;
    font-size: $fontSize2;
  }
  .Links {
    margin-left: auto;
  }
  button {
    background-color: #0000;
    padding: $bigSpace;
    color: white;
    font-size: $fontSize2;
    border: none;
    text-decoration-color: #0000;
    &:hover {
      background-color: $primary2;
    }
    cursor: pointer;
    transition: $transition;
  }
  .Current {
    text-decoration: underline;
    text-underline-offset: $smallSpace;
  }
}
