@use "variables" as *;
.Header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $primary1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 $smallSpace black;
  padding: $smallSpace;
  z-index: 100;  
  @media screen and (min-width: $screenSep) {
    flex-direction: row;
}
  .Menu{    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .LogoImg{
      width: 32px;
    }
    .MenuImg{
      margin-left: auto;
      width: 32px;
      & :hover{
        background-color: $primary2;
      }
      @media screen and (min-width: $screenSep) {
          display: none;
      }
    }
  }
  .Links {
    display: none;
    background-color: $primary1;
    @media screen and (min-width: $screenSep) {
      display: flex;
      flex-direction: row;
    }
    .SelectLang {
      padding: $smallSpace;
      border-radius: $smallSpace;
      font-size: $fontSize2;
    }
    button {
      background-color: #0000;
      height: 100%;
      padding: $bigSpace;
      color: white;
      font-size: $fontSize2;
      border: none;
      text-decoration-color: #0000;
      &:hover {
        background-color: $primary2;
      }
      cursor: pointer;
      transition: $transition;
    }
    .Current {
      text-decoration: underline;
      text-underline-offset: $smallSpace;
    }
  }
  .Show{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
}
