@use "variables" as *;

.Home {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > div {
    margin-top: 50px;
  }
  .Heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: onLoad $longInterval linear forwards;
    span {
      text-align: center;
      font-size: $fontSize4;
      font-weight: bold;
    }
    .ImgContainer {
      margin-top: $bigSpace;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 96%;
      max-width: 960px;
      aspect-ratio: 192 / 103;
      img {
        border-radius: $smallSpace;
        box-shadow: 0px 4px 4px $grey_6;
        transition: $transition;
        bottom: 0;
        &:hover {
          bottom: $mediumSpace;
        }
      }
      .DesktopSampleImg {
        position: relative;
        max-width: 100%;
      }
      .MobileSampleImg {
        position: absolute;
        right: 10%;
        max-height: 90%;
      }
      .Opacity {
        opacity: 0;
      }
    }
    .Download {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      width: 90%;
      border-radius: 10px;
      padding: 20px 20px;
      background-color: $purple_1;
      @media screen and (min-width: $screenSep) {
        width: initial;
        border-radius: 20px;
        padding: 20px 40px;
      }
      color: white;
      & > div {
        margin-top: 10px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        & > div {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          & > a {
            font-size: $fontSize2;
            color: white;
            margin-top: 5px;
          }
          & > div > img {
            margin-top: 5px;
            width: 40px;
          }
        }
      }
    }
  }
  .Grid {
    $space: 50px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $screenSep) {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    gap: $space;
    padding: $space;
    background-color: $primary1;
    .GridItem {
      $innerSpace: 20px;
      min-width: 0;
      min-height: 0;
      position: relative;
      top: 0;
      transition: $transition;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 2px;
      padding: $innerSpace;
      background-color: white;
      box-shadow: 0 4px 4px $grey_6;
      &:hover {
        top: $smallSpace * -1;
        box-shadow: 0 4px calc(4px + #{$smallSpace}) $grey_6;
      }
      & > * {
        margin-bottom: 10px;
      }
      .ItemTitle {
        font-size: $fontSize3;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey_9;
      }
      .ItemImg {
        margin: auto;
        padding: $bigSpace 0;
        max-width: 80%;
      }
      .ItemBody {
        margin-top: auto;
        font-size: $fontSize2;
        color: $grey_6;
      }
    }
  }
}

@keyframes onLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
