@use "variables" as *;

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > div {
    margin-top: 50px;
  }
  .Heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      text-align: center;
      font-size: $fontSize4;
      font-weight: bold;
    }
    .ImgContainer {
      margin-top: $bigSpace;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 96%;
      @media screen and (min-width: $screenSep) {
        width: 960px;
      }
      img {
        border-radius: $smallSpace;
        box-shadow: 0px 4px 4px $grey_6;
        transition: $transition;
        bottom: 0;
        &:hover,
        &:active {
          bottom: $mediumSpace;
        }
      }
      .DesktopSampleImg {
        position: relative;
        max-width: 100%;
      }
      .MobileSampleImg {
        position: absolute;
        right: 10%;
        max-height: 90%;
      }
      .Opacity {
        opacity: 0;
      }
    }
    .Download {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      padding: 20px 40px;
      border-radius: 20px;
      background-color: $purple_1;
      color: white;
      & > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > img {
          width: 32px;
        }
        & > a {
          font-size: $fontSize2;
          color: white;
          margin-top: 5px;
        }
      }
    }
  }
  .Grid {
    $space: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: $space;
    padding: $space;
    background-color: $primary1;
    @media screen and (max-width: $screenSep) {
      grid-template-columns: 1fr;
    }
    .GridItem {
      $innerSpace: 20px;
      min-width: 0;
      min-height: 0;
      position: relative;
      top: 0;
      transition: $transition;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 2px;
      padding: $innerSpace;
      background-color: white;
      box-shadow: 0 4px 4px $grey_6;
      &:hover {
        top: $smallSpace * -1;
        box-shadow: 0 4px calc(4px + #{$smallSpace}) $grey_6;
      }
      & > * {
        margin-bottom: 10px;
      }
      .ItemTitle {
        font-size: $fontSize3;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey_9;
      }
      .ItemImg {
        margin: auto;
        padding: $bigSpace 0;
        max-width: 80%;
      }
      .ItemBody {
        margin-top: auto;
        font-size: $fontSize2;
        color: $grey_6;
      }
    }
  }
}
